    <footer class="main-ftr">
        <div class="wrp">
            <div class="main-ftr__col ftr-logo">
                <img src="/img/logo-gris.svg" alt="Vigo"/>
            </div>
            <div class="main-ftr__col">
                <ul class="ftr-nav">
                    <li class="ftr-nav__it"><a href="#">Catálogo de productos</a></li>
                    <li class="ftr-nav__it"><a href="#">Menu Item</a></li>
                    <li class="ftr-nav__it"><a href="#">Quienes Somos</a></li>
                    <li class="ftr-nav__it"><a href="#">Contacto</a></li>
                </ul>
                <div class="contact-info">
                    <address class="contact-info__address">San Martín 2228 esq. Martín García</address>
                    <div class="contact-info__tel">Teléfono: 2208 95 96</div>
                </div>
                <ul class="contact-blk__list contact-blk--ftr">
                    <li class="contact-blk__list-it contact-blk__list-it--footer">
                        <a href="https://www.facebook.com/worldvigo" target="_blank"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="contact-blk__list-it contact-blk__list-it--footer">
                        <a href="skype:fphard?chat" ><i class="fa fa-skype"></i></a>
                    </li>
                    <li class="contact-blk__list-it contact-blk__list-it--footer">
                        <a href="mailto:info@worldvigo.com?Subject=Mensaje enviado desde {{ .URL }}" ><i class="fa fa-envelope-o"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div role="contentinfo">Copyright © 2015 Domino Projects. All Rights Reserved.</div>
    </footer>
</body>
</html>
