<body>

<header class="main-hdr">
    <nav class="nav">
        <ul>
            <li class="nav__cnt">
                <div class="nav__it"><a href="/catalogo/" >Catálogo de productos</a></div>
                <!--<div class="nav__it"><a href="/menu-item/">Menu Item</a></div>-->
            </li><!--
                    --><li class="nav__void">
            <h1 class="main-logo"><a href="/" title="Volver al inicio"><img src="/img/vigo-header.svg" alt="Vigo"></a></h1>
        </li><!--
                    --><li class="nav__cnt">
            <div class="nav__it"><a href="#quienes" >Quienes Somos</a></div>
            <div class="nav__it"><a href="#contacto">Contacto</a></div>
        </li>
        </ul>
    </nav>
</header>
