{{ partial "head.html" . }}

<div class="wrp">
    <section class="main" role="main">

        <div class="blk">
            <h1 class="blk__tit">Acerca de Vigo</h1>
            <div class="blk__cnt">
                <p>
                    Gracias a la incorporación de software especialmente diseñado para cotizar aberturas y a nuestra vocación de
                    servicio logramos responder rápidamente a las solicitudes de precio de nuestros clientes presupuestando de manera clara y a valores competitivos.
                    Con esta combinación de tecnología y personal capacitado respaldamos y renovamos nuestro compromiso de brindar una atención de calidad de forma eficaz y eficiente cumpliendo en tiempo y forma con nuestros clientes en todos los proyectos que nos sean recomendados.
                </p>
                <p>
                    Lo invitamos entonces a que se acerque a nosotros solicitando presupuesto a través de la presentación de planillas de obra para que tenga la posibilidad de comprobar que mantenemos la misma calidad de servicio en la atención que nos caracteriza.
                </p>
            </div>
        </div>

    </div>
</div>


{{ partial "footer.html" . }}